.signin_section {
    background: linear-gradient(to right, #d16ba5, #86a8e7, #5ffbf1);
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin_container {
    height: 450px;
    width: 500px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

.signin_content h2 {
    text-align: center;
    margin-top: 40px;
}

.signin_field {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 50px;
   gap: 40px;
}

.signin_field input {
    height: 50px;
    width: 400px;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 20px;
}

.signin_field input::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signin_field button{
    height: 50px;
    width: 150px;
    color: white;
    background-color: red;
    border-radius: 12px;
    margin-top: 0px;
    font-size: 21px;
    border: none;
    cursor: pointer;
    align-content: center;
}

.signin_field button:active {
    background-color: crimson;
}

.signin_signup {
    margin-top: -10px;
    color: grey;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signin_signup b {
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.signin_signup b:active {
    color: crimson;
}
